* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

.container_padrao {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
header .btn_header {
  color: #ffffff;
  background-color: #f97415;
  border-radius: 8px;
  padding: 0.8rem 1.5rem;
  border: none;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
}
header .btn_header:hover {
  color: #f97415;
  background-color: #ffffff;
}

.container_pets_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
.container_pets_info .container_pets {
  display: flex;
  align-items: center;
}
.container_pets_info .container_pets .info_pet {
  padding: 0 4rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container_pets_info .container_pets .info_pet h1 {
  font-size: 6rem;
  font-weight: 700;
  color: #f97415;
}
.container_pets_info .container_pets .info_pet p {
  font-size: 2.4rem;
}
.container_pets_info .opcoes_pets {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  padding: 4rem 0;
}
.container_pets_info .opcoes_pets img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 2s;
}

.secao_formulario {
  background-color: #f59f0a;
  color: #ffffff;
  padding: 2rem 2rem;
}
.secao_formulario .info_formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 75rem;
}
.secao_formulario .info_formulario h2 {
  font-size: 4.8rem;
}
.secao_formulario .info_formulario p {
  text-align: center;
  font-size: 3.2rem;
  width: 75%;
}
.secao_formulario .info_formulario .dados_form {
  width: 50rem;
  height: 53rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.secao_formulario .info_formulario .dados_form .dados_forms {
  display: flex;
  flex-direction: column;
}
.secao_formulario .info_formulario .dados_form .dados_forms label {
  font-size: 3.2rem;
  font-weight: 700;
}
.secao_formulario .info_formulario .dados_form .dados_forms input {
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 2rem;
  outline: none;
}
.secao_formulario .info_formulario .dados_form .dados_forms .container_radio {
  display: flex;
  justify-content: space-between;
  width: 57%;
}
.secao_formulario .info_formulario .dados_form .dados_forms .container_radio .label_input_radio {
  display: flex;
}
.secao_formulario .info_formulario .dados_form .dados_forms .container_radio .label_input_radio input {
  margin-right: 0.5rem;
  width: 2rem;
}
.secao_formulario .info_formulario .btn_formulario {
  background-color: #f97415;
  color: #ffffff;
  border-radius: 8px;
  padding: 0.8rem 3rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 3.2rem;
  align-self: center;
  margin-top: 2rem;
}
.secao_formulario .info_formulario .btn_formulario:hover {
  color: #f97415;
  background-color: #ffffff;
}

footer {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #9ca3af;
}
footer .footer_superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}
footer .footer_superior p {
  width: 45%;
  text-align: center;
}
footer .footer_superior .logo_facebook {
  margin-right: 1rem;
}
footer .footer_inferior {
  padding: 2rem 1rem;
  width: 100%;
  border-top: solid #4b5563;
  text-align: center;
}/*# sourceMappingURL=style.css.map */