* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

.container_padrao {
  max-width: 1300px;
  margin: 0 auto;
}

header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  .btn_header {
    color: #ffffff;
    background-color: #f97415;
    border-radius: 8px;
    padding: 0.8rem 1.5rem;
    border: none;
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
  }

  .btn_header:hover {
    color: #f97415;
    background-color: #ffffff;
  }
}

.container_pets_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;

  .container_pets {
    display: flex;
    align-items: center;

    .info_pet {
      padding: 0 4rem;
      height: 22rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h1 {
        font-size: 6rem;
        font-weight: 700;
        color: #f97415;
      }

      p {
        font-size: 2.4rem;
      }
    }

    img {
      width: 50%;
    }
  }

  .opcoes_pets {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding: 2rem 0;

    img:hover {
      cursor: pointer;
    }
  }
}

.secao_formulario {
  background-color: #f59f0a;
  color: #ffffff;
  padding: 2rem 2rem;

  .info_formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 75rem;

    h2 {
      font-size: 4.8rem;
    }

    p {
      text-align: center;
      font-size: 3.2rem;
      width: 75%;
    }

    .dados_form {
      width: 50rem;
      height: 53rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .dados_form .dados_forms {
      display: flex;
      flex-direction: column;

      label {
        font-size: 3.2rem;
        font-weight: 700;
      }

      input {
        width: 100%;
        border-radius: 0.5rem;
        border: none;
        padding: 0.8rem 1.5rem;
        font-size: 2rem;
        outline: none;
      }

      .container_radio {
        display: flex;
        justify-content: space-between;
        width: 57%;

        .label_input_radio {
          display: flex;

          input {
            margin-right: 0.5rem;
            width: 2rem;
          }
        }
      }
    }

    .btn_formulario {
      background-color: #f97415;
      color: #ffffff;
      border-radius: 8px;
      padding: 0.8rem 3rem;
      border: none;
      font-weight: 700;
      cursor: pointer;
      font-size: 3.2rem;
      align-self: center;
      margin-top: 2rem;
    }

    .btn_formulario:hover {
      color: #f97415;
      background-color: #ffffff;
    }
  }
}
